/*
  * Student Name: Maddie Drake 
  * Student ID: 041141815
  * Course: CST8117 - Cross-Platform Web Design
  * Semester: 1 Winter 2024
  * Assignment: 2
  * Date Submitted: March 12, 2024.
*/

/* css reset */ /* reset defaults to 0 and 100% */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* set the background image for the whole page */
body {
    /*background-image: url('../images/serene_beach.png'); *//*https://www.craiyon.com/image/WYm76cTrSvaLKsAA0iUIMA*/
    background: indigo /* url('../images/serene_beach.png')*/;
    /*overflow-x: hidden;*/
    margin: 0;
}

/* target the navigation list */
.nav-list {
    display: flex; /*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
    justify-content: space-between;
    font-family: 'Comfortaa', sans-serif;
    padding: 1rem;
    list-style: none;
    position: fixed;
  }

/* target individual list items in the navigation list */
.nav-list li {
    padding: 0.75rem;
    border: 1px solid rgb(255,252,210);
    background-color: indigo;
    border-radius: 1.5rem;
}

/* target search bar */
.search-bar {
  padding-right: 2rem;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.page-title {
    padding: 2rem 2rem 0 2rem;
    font-family: 'Comfortaa', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 252, 210);
}

.page-title-2 {
  font-size: 2rem;
}

/*https://www.w3schools.com/css/css-link.asp*/
/* stylize links according to behaviour */
a:link {
  /*color: rgb(249, 245, 192);*/
  color: rgb(255, 252, 210);
  text-decoration: none;
}

a:visited {
  color: rgb(188, 185, 140);
  text-decoration: none;
}



.bangle-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  padding-top: 2rem;
  max-width: 50%;
  max-height: 50%;
}
.logo {
  width: 13%;
  padding: 1em;
  rotate: -15deg;
}
.footer {
  display: flex;
  justify-content:space-evenly;
  font-family: 'Courier Prime', monospace;
  /*padding: 2rem;*/
  /*padding-top: 3rem;*/
  list-style: none;
  color: rgb(255, 252, 210);
  /*color: rgb(139, 66, 46);*/
  /*position: absolute; *//*https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/
  /*bottom: 0;
  width: 170vh;
  height: 3vh;*/
}

.blurb {
  /*display: flex;*/
  font-family:'Comfortaa', sans-serif;
  color: rgb(255, 252, 210);
  text-align: center;
  /*justify-content: space-around;*/
  width: 50%
}

.blurb-box {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.search-bar {
  margin-top: 2em;
}

.search-box {
  border-radius: 15px;
  height: 30px;
  background-image: url(../images/serene_beach.png);
  color: white;
}

.button {
  height: 24px;
  width: 30px;
  border-radius: 15px;
  position: relative;
  right: 30px;
  background-color: rgb(220, 35, 128);
  color: white;
}

.button:active {
  color: indigo;
}

.price {
  text-align: center;
  font-size:2rem;
  margin: 2rem;
  color: rgb(255, 252, 210);
  font-family:'Comfortaa', sans-serif;
}

#email {
  font-style: normal;
}

.bottom-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #bfac7c;
  background:  url('../images/serene_beach.png');
  height: 4rem;
  padding: 0.75em;
  bottom: 0;
  margin-top: 1.5em;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1.2rem;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0;
  overflow: hidden;
  
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
  padding: 10em;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgb(255, 252, 210);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  margin-right: 3em;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transition: 400ms;
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transition: 400ms;
  transform: rotate(-45deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    bottom: 0;
    margin-top: 3em;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid indigo;
    height: 2.5em;
    padding: 0.5em;
    transition: height 800ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background: indigo url('../images/serene_beach.png');
  }
  
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* ----------- Media Queries ---------------------- */

@media only screen and (width <= 480px) and (orientation: portrait) {
  .nav-list {
    display: flex; /*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
    justify-content: space-between;
    font-family: 'Comfortaa', sans-serif;
    padding: 1rem;
    list-style: none;
    bottom: 0;
    width: 90%;
  } 
  /* .search-bar {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    list-style: none;
    }
    .search-box {
      border-radius: 40px;
      height: 80px;
      background-image: url(../images/serene_beach.png);
      color: white;
    }
    .button {
      height: 80px;
      width: 80px;
      border-radius: 40px;
      position: relative;
      right: 80px;
      background-color: rgb(220, 35, 128);
      color: white; 
    }
    .top-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #57c5e7;
      background: linear-gradient(to left, #f46b45, #eea849);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *//*
      color: #FFF;
      height: 50px;
      padding: 1em;
    } */
}

@media only screen and (orientation: portrait) {
  .page-title {
    color: rgb(255, 252, 210);
  }
}

@media only screen and (orientation: landscape) {
  .page-title {
    color: rgb(255, 252, 210);
  }
  .nav-list {
    display: flex; /*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Comfortaa', sans-serif;
    padding-top: 1rem;
    list-style: none;
  }

  .nav-list li {
    padding: 0.75rem;
    border: 1px solid rgb(255,252,210);
    background-color: indigo;
    border-radius: 1.5rem;
    max-width: 15%;
    margin: 0.5rem;
    text-align: center;
  }
  .search-box {
    border-radius: 15px;
    height: 30px;
    background-image: url(../images/serene_beach.png);
    color: white;
  }

  .button {
    height: 24px;
    width: 30px;
    border-radius: 15px;
    position: relative;
    right: 30px;
    background-color: rgb(220, 35, 128);
    color: white;
  } 
  
  .search-bar {
  padding-top: 2rem;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  }

}